<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head')%>
  </head>
  <body>
  <header>
   <%- include('partials/header') %>
  </header>
  <nav class="menu">
    <ul>
      <% categorias.forEach(categoria => {%>
        <li><a href="/"><%= categoria %></a></li>
      <% }); %>
    </ul>
  </nav>

  <h2>Ultimas entradas del blog</h2>

  <div class="galeria">
    <% imagenes.forEach(imagen => {%>
      <figure>
        <a href="/pelicula/<%= imagen.id %>">
        <img src="<%= imagen.thumbnail %>" alt="">
        <figcaption><%= imagen.title %></figcaption>
        </a>
      </figure>
    <%});%>
  </div>

  </body>

  <footer>
    <%- include('partials/footer') %>
  </footer>
</html>
