<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head')%>
</head>
<body>
<header>
    <%- include('partials/header') %>
</header>
<nav class="menu">
    <ul>
        <li><a href="/"><%= pelicula.category %></a></li>
        <% categorias.forEach(categoria => {%>
            <li><a href="/"><%= categoria %></a></li>
        <% }); %>
    </ul>
</nav>
<main id="peli">

    <div class="infoPeli">
        <img src="<%= pelicula.image%>" alt="<%= pelicula.title %>">
        <h1><%= pelicula.title %></h1>
        <p><%= pelicula.intro%></p>
        <a href="/"><%=pelicula.category%></a>
        <%- pelicula.content%>

    </div>
</main>

</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>